.card
{
    width: 100%;
    margin:5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.info{
    width: 90%;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info h2{
    font-size: 24px;
    color: #254336;
    font-weight: 600;
}
.info span{
    color: #355446;
    font-size: 14px;
    font-weight: normal;
    
}
.info img{
    margin-right: 10px;
    width: 65px;
    border: #254336 5px solid;
    border-radius: 50%;
}

.card p{
    padding: 0px 10px 10px 10px;
    text-align:start;
    line-height: 20px;
}